* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo-container {
  font-family: monospace, sans-serif;
  width: 10%;
  margin-right: 50px;
  cursor: pointer;
}

.logo-container h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.search-bar-container {
  display: flex;
  width: 500px;
}

#search-bar-input {
  flex-grow: 1;
  border-radius: 20px 0 0 20px;
  border: none;
  background-color: hsl(0, 0%, 65%);
  padding: 10px 20px;
}

#search-bar-input:focus {
  background-color: white;
  outline: none;
}

#search-bar-input::placeholder {
  color: black;
  font-family: monospace, sans-serif;
}

.search-icon-container {
  background-color: hsl(262, 80%, 50%);
  border-radius: 0 20px 20px 0;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 400ms;
}

.search-icon-container:hover {
  background-color: black;
}

.search-icon {
  width: 15px;
  filter: brightness(0) invert(1);
}

.log-in-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}

.log-in-picture,
.heart-picture,
.shopping-cart {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.logIn-picture-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.log-in-text {
  display: flex;
  align-items: center;
}

.shopping-cart-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.shopping-items-counter {
  background-color: black;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-family: monospace, sans-serif;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

.shopping-categories-list {
  background-color: hsl(0, 0%, 90%);
  padding-left: 25px;
  height: 3em;
}

.categories-item {
  color: black;
  transition: color 400ms;
}

.categories-item:hover,
.myactive {
  color: hsl(262, 80%, 50%);
}

@media (max-width: 1082px){
  .search-bar-container{
    display: none;
  }
  .burger{
    display: block;
    margin-left: 2em;
  }
}
@media (max-width: 588px){
  .logo-container{
    display: none;
  }
}
