<header>
  <div class="main-header">
    <div class="logo-container">
      <a routerLink="/">
        <h3>TechTree</h3>
      </a>
    </div>
  </div>

  <div class="search-bar-container">
    <input type="search" placeholder="Search" id="search-bar-input" />
    <div class="search-icon-container">
      <img
        src="assets/search-svgrepo-com.svg"
        alt="image of a magnifying glass"
        class="search-icon"
      />
    </div>
  </div>

  <div class="log-in-container">
    <!-- <div class="logIn-picture-text-container">
      <img
        src="assets/profile-svgrepo-com.svg"
        alt="log in profile picture"
        class="log-in-picture"
      />
      <span class="log-in-text">Log In</span>
    </div> -->

    <!-- <img src="assets/heart-svgrepo-com.svg" alt="heart icon" class="icon heart-picture" /> -->
    <div class="shopping-cart-container">
      <a [routerLink]="['/shopping-cart']">
        <img
          src="assets/shopping-cart-outline-svgrepo-com.svg"
          alt="shopping cart"
          class="icon shopping-cart"
        />
      </a>
      <span class="shopping-items-counter">{{ cartItems.length }}</span>
    </div>
  </div>
  <!-- <div class="burger-menu">
    <img src="assets/burger.svg" class="burger" alt="burger menu icon" />
  </div> -->
</header>

<nav>
  <ul class="shopping-categories-list">
    <li>
      <a routerLink="/" routerLinkActive="myactive" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li>
      <a class="categories-item" routerLink="/products" routerLinkActive="myactive" [routerLinkActiveOptions]="{ exact: true }">Shop</a>
    </li>
  </ul>
</nav>
