.product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.img-container-img-description{
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border: 1px solid black;
  border-bottom: none;
  background-color: none;
  width: 50%;
  margin-inline: auto;
}
.img-container-desc{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.product-description{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 25px;
  width: 50%;
  border: 1px solid;
}
.buy-buttons{
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.product-image{
  object-fit: contain;
}
carousel-item{
  height: inherit;
  width: inherit;
}
.carousel-inner > .carousel-item > img {
  width:640px;
  height:360px;
}
.button1,
.button2 {
  border-radius: 25px;
  border: none;
  background-color: var(--purple);
  padding: .5em;
  color: white;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
#carouselExampleControls{
  width: 25%;
}
.carousel-inner,
.carousel-item,
carouse-item>img{
  width: 100%;
  height: 100%;
}