<div class="cart-container">
  <h1>Shopping Cart</h1>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img [src]="item.images[0]" alt="{{ item.title }}" class="item-image" />
      <div class="item-details">
        <p>{{ item.title }}</p>
        <p>{{ item.price.current }} {{ item.price.currency }}</p>
        <button (click)="removeItem(item._id)">Remove</button> <!-- Remove button -->
      </div>
    </div>
  </div>

  <div class="cart-summary">
    <h2>Order Summary</h2>
    Total: {{calculateTotal()}}
  </div>
</div>
