<div class="toggle-button">
  <button (click)="toggleFilter()" style="border: none; border-radius: 25px">
    Filters
  </button>
</div>
<section class="products-page">
  <section class="input-group">
    <div class="browse-by">
      <h3>Browse by</h3>
      <hr />
      <h5>All Products</h5>
      <ul class="browse-list">
        <li>
          <a
            routerLink="/products"
            [queryParams]="{ categoryId: 1 }"
            class="browse-p"
            >Computers</a
          >
        </li>
        <li>
          <a
            a
            routerLink="/products"
            [queryParams]="{ categoryId: 2 }"
            class="browse-p"
            >Mobile</a
          >
        </li>
        <li><a href="#" class="browse-p">Best Sellers</a></li>
        <li><a href="#" class="browse-p">Sale</a></li>
      </ul>
    </div>

    <label for="keyWord">Search</label>
    <input id="keyWord" type="text" [(ngModel)]="keyWord" />
    <p>Min Price: {{ minPrice }}</p>
    <p>Max Price: {{ maxPrice }}</p>
    <mat-slider min="1" max="10000" step="1" color="accent">
      <input value="1" matSliderStartThumb [(ngModel)]="minPrice" />
      <input value="10000" matSliderEndThumb [(ngModel)]="maxPrice" />
    </mat-slider>

    <button (click)="productFilter()" class="btn btn-primary">Filter</button>
    <button (click)="clearFilters()">Clear Filters</button>
  </section>
  <section class="input-group-responsive" *ngIf="inputGroupVisible">
    <div class="browse-by">
      <h3>Browse by</h3>
      <hr />
      <h5>All Products</h5>
      <ul class="browse-list">
        <li>
          <a
            routerLink="/products"
            [queryParams]="{ categoryId: 1 }"
            class="browse-p"
            >Computers</a
          >
        </li>
        <li>
          <a
            a
            routerLink="/products"
            [queryParams]="{ categoryId: 2 }"
            class="browse-p"
            >Mobile</a
          >
        </li>
        <li><a href="#" class="browse-p">Best Sellers</a></li>
        <li><a href="#" class="browse-p">Sale</a></li>
      </ul>
    </div>

    <label for="keyWord">Search</label>
    <input id="keyWord" type="text" [(ngModel)]="keyWord" />
    <p>Min Price: {{ minPrice }}</p>
    <p>Max Price: {{ maxPrice }}</p>
    <mat-slider min="1" max="10000" step="1" color="accent">
      <input value="1" matSliderStartThumb [(ngModel)]="minPrice" />
      <input value="10000" matSliderEndThumb [(ngModel)]="maxPrice" />
    </mat-slider>

    <button (click)="productFilter()" class="btn btn-primary">Filter</button>
    <button (click)="clearFilters()">Clear Filters</button>
  </section>
  <section class="products">
    <div
      class="card"
      style="width: 18rem"
      *ngFor="let products of productsData; let i = index"
    >
      <a
        [routerLink]="['/products-details']"
        [queryParams]="{ id: products._id }"
      >
        <img
          [src]="products.images"
          class="card-img-top"
          [alt]="products.title"
        />
      </a>
      <div class="card-body">
        <a
          [routerLink]="['/products-details']"
          [queryParams]="{ id: products._id }"
          style="text-decoration: none; color: black"
        >
          <h5 class="card-title">{{ products.title }}</h5>
          <p class="card-text">
            {{ products.price.current }} {{ products.price.currency }}
          </p>
          <p
            class="card-text"
            *ngIf="products.price.current === products.price.beforeDiscount"
          >
            {{ products.discountPercentage }}SALE
          </p>
        </a>
      </div>
    </div>
  </section>
</section>
